<h1 class="registered_header"> All registered users </h1>

<% @users.each do |user| %>

  <p class="reg_list">
    Username: <%= user.username %><br />
    Email: <%= user.email %><br />
    <%= link_to "Edit", edit_user_path(user) %>
  </p>
<% end %>
<%= link_to "Create new account", new_user_path %>
