// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#error_explanations {
  background-color: honeydew;
  color: orangered;
}

.registered_list {
  color: #8B4513;
}

.registered_header {
  color: #0000FF;
}

.new_form {
  color: #2F4F4F;
}

.new_form_header {
  color: purple;
}

.edit_page_header {
  color: #800000;
}
